@model TMDT.Models.User

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutPageUS.cshtml";
}



<div class="col-sm-12 col-md-9 col-lg-9">
    <!-- login area start -->
    <div class="login-register-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                    <div class="login-register-wrapper">
                        <a class="active" style="text-align:center" href="#lg1">
                            <h2>Đổi mật khẩu </h2>
                            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.ErrorMessage
                                </div>
                            }
                        </a>
                        <div class="tab-content">
                            <div id="lg1" class="tab-pane active">
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                        <form action="#" method="post">
                                            @using (Html.BeginForm("ChangePassword", "NguoiDung", FormMethod.Post))
                                            {
                                                @Html.ValidationSummary(true)


                                                <div>
                                                    <label for="currentPassword">Mật khẩu cũ</label>
                                                    <input type="password" name="currentPassword" />
                                                </div>
                                                <div>
                                                    <label for="newPassword">Mật khẩu mới:</label>
                                                    <input type="password" name="newPassword" />
                                                </div>
                                                <div>
                                                    <label for="confirmPassword">Nhập lại mật khẩu mới:</label>
                                                    <input type="password" name="confirmPassword" />
                                                </div>
                                              
                                                <div class="button-box">

                                                    <button type="submit"><span>Đổi mật khẩu </span></button>
                                                </div>
                                            }
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- login area end -->
</div>

