@model TMDT.Models.User
@{
    ViewBag.Title = "ChangePasswordvl";
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutVL.cshtml";
}
<h2>Change Password</h2>

@using (Html.BeginForm("ChangePasswordvl", "NguoiDung", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr /> 
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    

    <div>
        <label for="currentPassword">Mật khẩu cũ</label>
        <input type="password" name="currentPassword" />
    </div>
    <div>
        <label for="newPassword">Mật khẩu mới:</label>
        <input type="password" name="newPassword" />
    </div>
    <div>
        <label for="confirmPassword">Nhập lại mật khẩu mới:</label>
        <input type="password" name="confirmPassword" />
    </div>

    <div class="button-box">

        <button type="submit"><span>Đổi mật khẩu </span></button>
    </div>
</div>
}
