
@{
    ViewBag.Title = "Noficication";
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutVL.cshtml";
}

<!-- Blank area start -->
<div class="blank-page-area pb-100px pt-50px">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-not-found text-center">
                    <img src="~/Areas/KhachHang/assets/images/404/s.jpg" />
                    <h2>Email đã được gửi!</h2>
                    <p>Vui lòng kiểm tra email của bạn  </p>
                    <a href="index.html">Back To Home <i class="fa fa-home"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blank area end -->


<style>
    .page-not-found img {
        background-size:cover;
        width: 1200px; /* Đổi kích thước chiều rộng của ảnh */
        height: auto; /* Giữ tỷ lệ khung hình */
        margin-top: 20px; /* Khoảng cách từ phía trên của ảnh */
        /* Các thuộc tính khác tùy ý bạn có thể thêm vào đây */
    }
    .blank-page-area .page-not-found {
        margin-top: 180px;
    }
</style>