
@{
    ViewBag.Title = "VNPayReturn";
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutVL.cshtml";
}


<body>
    <div class="thank-you-area pt-100px ">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8">
                    <div class="inner_complated">
                        <div class="img_cmpted"><img src="assets/images/icons/cmpted_logo.png" alt=""></div>
                        <h2 class="dsc_cmpted">Thanh Toán</h2>
                        <p class="dsc_cmpted">
                            Bạn đã thanh toán thành công đơn hàng
                        </p>
                        <p class="dsc_cmpted">
                            Cảm ơn bạn đã đặt hàng, đồ ăn sẽ đến với bạn ngay thôi !
                        </p>
                        <div class="btn_cmpted">
                            <a href="@Url.Action("Index", "Home")" ; class="shop-btn" title="Go To Shop">Tiếp tục mua sắm </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="quick_order ">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12">
                    <div class="main_quickorder text-align-center">
                        <h3 class="title">Call Us for Quick Order</h3>
                        <div class="cntct typewriter-effect"><span class="call_desk"><a href="tel:+01234567890" id="typewriter_num">0985010302</a></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


