<div class="icon-chat">
    <div style="position:relative">
        <div id="checkNotification"></div>
    </div>
    <p>
        <i class="fa-solid fa-message" style="color: #fef9f7"></i>
    </p>
</div>

<div class="live-chat">
    <div class="infor-chat">
        <div class="logo-shop">
            <div>
                <img src="~/Areas/KhachHang/assets/images/logo/logochuchu.png" alt="Alternate Text" />
            </div>
            <p>Chat</p>
        </div>
        <div class="btn-close-chat">
            <p>
                <i class="fa-solid fa-xmark" style="color: #eaaa85; "></i>
            </p>
        </div>
    </div>
    <div class="body-chat" id="style-1">
        <div class="content-chat">
            <ul>
                <li class="user-chat">i'm user</li>
                <li class="admin-chat">Hello, I'm the manager of Chu Chu. Is there anything you'd like to share with us about your experience?</li>  
            </ul>
        </div>
    </div>
    <div class="input-chat">
        <div>
            <input id="valSendChat" type="text" name="name" value="" placeholder="Input text" autocomplete="off"/>
        </div>
        <button id="btnSendChat">
            Send
        </button>
    </div>
</div>
