@model TMDT.Models.Employees

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdminPage.cshtml";
}

<div class="container main-menu">
    <div>
        <div class="info-employee">

        </div>
        <div class="info-address">
             
        </div>
        <div >

        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
