
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdminPage.cshtml";
}
<div style="background:white; text-align:center; padding: 100px">
    <h1>You do not have permission to access this page.</h1>
</div>


