
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdminPage.cshtml";
}

<br />
<br />
<div class="card mb-4" style="text-align:center">
    <h1>Access Denied</h1>
    <p>You do not have permission to access this page.</p>

</div>
